@font-face {
  font-family:"wotfard";
  src: url(wotfard-regular-webfont.ttf);
}

body {
  background-color: black;
  color: white;
  font-family: "wotfard";
}

.page {
  display: grid;
  grid-template-columns: 300px 1fr;
}

:root {
  --dark: #223127;
}

/* SIDE BAR FORMATTING */

.side-bar {
  grid-column: 1;
  display:flex;
  flex-direction: column;
  gap: 25px;
  background-color: var(--dark);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  height: 150px;
}

.logo-img {
  height: 150px;
  width: auto;
}

.nav-bar {
  grid-row: 2;
}

.nav-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 40px;
}

.nav-icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-self: self-end;
  align-self: center;
  padding: 5px;
}

.nav-item:hover {
  -webkit-filter: invert(100%);
}

.nav-text {
  display: flex;
  justify-self: self-start;
  align-self: center;
}

/*

HEADER-CONTENT FORMATTING

*/

.header-content {
  grid-column: 2;
  display: grid;
  grid-template-rows: 1fr 4fr;
  gap: 0px;
}

/*

HEADER FORMATTING

*/
.header {
  grid-row: 1;
  background-color: #F2F2F2;
  color: var(--dark);
  display: grid;
  grid-template-rows: 1fr 2fr;
}

/* HEADER TOP */
.header-top {
  grid-row: 1;
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  width: 70%;
}

.search-icon {
  height: 20px;
  width: auto;
  background-color: #F2F2F2;
}

.search-button {
  padding: 0;
  border: 0;
}

.search-bar {
  border-radius: 10%;
  flex-grow: 1;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
  padding-left: 10px;
  flex-shrink: 0;
}

.img-cropper {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile-picture {
  height: auto;
  width: 100%;
}

/* HEADER BOTTOM */

.header-bottom {
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-left {
  display: flex;
  gap: 10px;
  padding-left: 10px;
  align-items: center;
  width: 70%;
}

.greeting-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.greeting {
  font-size : 15px;
}

.profile-name {
  font-size: 25px;
}

.action-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  gap: 10px;
  padding-right: 10px;
  padding-left: 10px;
  flex-shrink: 0;
}

.header-button {
  background-color: var(--dark);
  color: white;
  font-size: 20px;
  border-radius: 20%;

}

/*

CONTENT FORMATTING

*/


.content {
  grid-row: 2;
  background-color: #CCCCCC;
  display: grid;
  grid-template-columns: 3fr 1fr;
  color: var(--dark);
  padding-top: 10px;
  height: 100%;
}

p {
  margin: 0;
  padding-left: 10px;
  font-size: 30px;
}

.projects-full {
  grid-column: 1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
  padding: 10px;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid var(--dark);
  border-left: 5px solid var(--dark);
  border-radius: 15px;
  box-shadow: rgba(34,49,39, 0.1) 3px 3px;
  flex-grow: 0;
}

.project-title  {
  font-weight: 900;
  font-size: 20px;
}

.project-content, .announcement-title{
  font-size: 15px;
}

.project-icons {
  display: flex;
  justify-content: flex-end;
}

.content-right {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.announcements {

  display: grid;
  grid-auto-flow: row;
  margin: 10px;
  gap: 10px;
  border: 1px solid var(--dark);
  border-radius: 15px;
}

.announcement {
  padding: 10px;
  border-bottom: var(--dark) dotted 1px;
}

.announcement-text {
  font-size: 10px;
}

.online {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user {
  display: flex;
  align-items: center;
  padding-left: 10px;

}






.project-icons img, .user-pic {
  height: 20px;
  width: 20px;
}

/* .fork-icon, .bookmark-icon, .star-icon, .user-pic {
  -webkit-filter: invert(100%);
} */
